* {
  margin: 0;
  padding: 0;

}

body {
  background-color: $light-purple;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $light-purple;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: #CECECE;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Paytone One', sans-serif;
}

a img {
  height: 2.3rem;
  margin: 10px 0 0 50px;
}

.right {
  background-color: $coral;
  position: absolute;
  width: 55%;
  height: 100%;
  left: 45%;
  border-radius: 100% 0 0 0;
}

.home-text {
  font-family: $headers-font;
  color: black;
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translate(-5%, -40%);
  width: 750px;
  font-size: 3rem;
  font-weight: bold;
}

.home-text h1 {
  font-size: 3rem;
  font-weight: bold;
}

.home-text p {
  font-size: 1rem;
  padding-top: 70px;
  font-weight: 400;
}

.buttons {
  position: absolute;
  top: 65%;
  left: 4%;
  transform: translate(-4%, -65%);

}



.right img {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 48rem;
  transform: translate(-15%, 15%);


}
