<div class="container">
  <div class="page">
    <nav class="navbar">
      <a href="" class="brand"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F8%2F84%2FApple_Computer_Logo_rainbow.svg%2F1200px-Apple_Computer_Logo_rainbow.svg.png&f=1&nofb=1" alt=""></a>
      <ul>
      <li>
        <a href="">Support</a>
        </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Store</a>
        </li>
      </ul>
    </nav>
    <div class="left">
      <h1>Take home a Macintosh.</h1>
      <p>Apple's remarkable new personal computer</p>
      <button>See it in action</button>

    </div>
    <div class="right">
      <div class="img"><img src="/assets/homepage.png">
      </div>
      <ul>
        <li>Instagram</li>
        <li>-</li>
        <li>Facebook</li>
        <li>-</li>
        <li>Twitter</li>
      </ul>
    </div>
  </div>
</div>


<!--<div class = "home">
  <h1>Welcome to LearningPlatform</h1>
  <h2>Learn how to have fun by learning</h2>
  <div class="center">
    <%= link_to "Sign In", new_user_session_path,class:"btn_all" %>
    <%= link_to "Sign Up", new_user_registration_path,class:"btn_all" %>
  </div>
</div>
